

#cargando {
    background:rgba(229, 232, 234, 0.992) !important;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;

}

#cargando img {
    position: fixed;
    width: 70px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.rotate {
    animation: rotation 1.4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


/* componentes generales*/

body
{
    background-color: #F9FCFF !important;
    font-family: 'Lato', sans-serif !important;
}


/* Barra navegacion */
#navBar {

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
       
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #0070b9 16.6%, #ef4438 16.6% 33.3%, #5091cd 33.3% 49.6%, #ea5329 49.6% 66.2%, #52b9e9 66.2% 82.8%, #f99b1c 82.8%);
}
#navBar a {
    justify-content: center;
    margin: 0 ;
    width: 100%;
    display: grid;
    padding: .7% 0%;
}
#navBar a img {
   
    height: auto;
    z-index: 1;
    margin:  0 auto ;
    justify-content: center;
    width:70%;
}

/* Seccion inicial */
.sec-inicial
{
    background-image: url('../img/psicologia.png');
    max-width: 100%;
    margin:  0 auto;
    padding: 0;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.columna
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width:80% ;
    margin: 0 auto;
}

/*div 1*/
.columna>div:nth-child(1) {
    align-self: center;
    padding: 0% 10% 0% 10%;
    box-sizing: border-box;
    color: #ffffff;
    text-align: left;
}
.columna h1
{
    font-size: 2.5em ;
    font-weight: 600;
}
.columna h2 {
    font-size: 2em;
    font-weight: 500;
    padding-top: 2%;
}

/*div 2*/

.columna > div:nth-child(2) {

    padding: 0% 10% 0% 0%;
    box-sizing: border-box;
}



/*Formulario*/
#formSubmitLp
{
    background: #ffffffd6 0% 0% no-repeat padding-box;
    padding-left: 10%;
    box-sizing: border-box;
    margin-left: auto;
    max-width: 65%;
    padding: 4% 6%;
}

.form-div {
    display: grid;
}

#formSubmitLp h3
{
    text-align: center;
    color: #13427A;
    font-size: 1.6em;
    font-weight: 600;
}

#formSubmitLp p {
    text-align: center;
    color: #13427A;
    font-size: 1.1em;
    padding-bottom: 1%;
}

#formSubmitLp label {
    text-align: left;
    color: #13427A;
    font-size: 1em;
    padding-bottom: 1.5%;
    font-weight: 500;
}

#formSubmitLp input
{

        width: 100%;
        height: 2.9rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #0070B9;
        border-radius: 5px;
        opacity: 1;
}
#formSubmitLp input:focus {


    outline: 1px solid #13427A;
    
}

#formSubmitLp span
{
text-align: left;
    color: #13427A;
    font-size: 1em;
    padding-bottom: 3.5%;
}

#formSubmitLp button {
    width:100%;
    height: 2.9rem;
    border-radius: 5px;
    border: 0;
    background: #0070B9 0% 0% no-repeat padding-box;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: 600;
}


/*Laptos dimensiones*/
@media screen and (max-width:1650px) {

  





}

/*Tablets dimensiones*/
@media screen and (max-width:1100px) {

     
 
}

/*Celulares dimensiones*/
@media screen and (max-width:750px) {

#navBar img {
    padding: 1.6%;
    height: auto;
    z-index: 1;
    margin: 0 auto;
    justify-content: center;
    width:50%;

}

}